<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>シフト希望一覧</title>
</head>
<body>
    <h1>{{ request.user.username }}さんのシフト希望一覧</h1>
    <ul>
        {% for shift in user_shifts %}
        <li>
            日付: {{ shift.shift_date }}<br>
            出勤時間: {{ shift.start_time }}<br>
            退勤時間: {{ shift.end_time }}<br>
            備考: {{ shift.remarks|default:"なし" }}
        </li>
        <hr>
        {% empty %}
        <li>シフト希望はありません。</li>
        {% endfor %}
    </ul>
    <a href="{% url 'submit_shift' %}">シフトを提出する</a>
</body>
</html>
